body {
  min-height: 100vh;
  background-color: #ebe9e5;
  font-family: "houschka-rounded", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 20px;
  margin: 20px;
}


.col-md-auto {
  background-color: white;
  padding: 10px;
  margin: 10px;

}

.fa {
  color: black;
  font-size: 30px;
  padding: 20px;
}

.image {
  width: 300px;
  height: inherit;
  position: relative;
}

.name {
  color: #126CB5;
  font-family: "houschka-rounded", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
}

.text {
  color: #fff;
  font-family: "houschka-rounded", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  background-color: #ef870a;
}

.cartText {
  color: #ebe9e5;
  font-size: 18px;
}

#title {
  font-size: 40px;

}